
div {
    background-color: #888989;
    width: 100px;
    height: 100px;
    border: black solid 1px;
    margin-bottom: 15px;
    margin: 15px;
    }

.caja_padre {
    width: 395px;
    height: 130px;
    margin: 15px;
    position: relative;
    }

.caja1 {
    position: absolute;
    padding: 15px;
    width: 70px;
    height: 70px;
        
}
.caja2 {
    position: absolute;
    padding: 15px;
    top:0px;
    left: 130px;
    width: 70px;
    height: 70px;
    
}
.caja3 {
    position: absolute;
    padding: 15px;
    top: 0px;
    left: 260px;
    width: 70px;
    height: 70px;
    }
.izquierda {
    position: absolute;
    left:130px ;
    top:265px ;
}

