* {
    margin:0px;
    padding: 0px;    
}

div {
    background-color: #888989;
    width: 100px;
    height: 100px;
    border: black solid 1px;
    margin-bottom: 15px;
    margin: 20px;
    }

.caja_padre {
    width: 360px;
    height: 130px;
    margin: auto;
    margin-top: 15px;
    }
.izquierda {
    padding: 15px;
    float: left;
}
.centro {
     padding: 15px;
    float: left;
}
.derecha {
    padding: 15px;
    float: left;
}


